@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

.home_scroll-link {
  writing-mode: vertical-lr;
  transform: rotate(-180deg)
}

@tailwind base;
@tailwind components; 
@tailwind utilities;

@layer base {
  :root {
    --background-base: "#ff1744";
    --color-text-base: "#F5F5F5";
  }
}